<div class="bg-content">
  <div id="content">
    <div class="container">
      <div class="row">
        <article class="span8">
          <h3>Contact us</h3>
          <div class="inner-1">
            <form id="contact-form" action="#">
              <div class="success"> Contact form submitted! <strong>We will be in touch soon.</strong> </div>
              <fieldset>
                <div>
                  <label class="name">
                    <input type="text" value="Your name">
                    <br>
                    <span class="error">*This is not a valid name.</span> <span class="empty">*This field is required.</span> </label>
                </div>
                <div>
                  <label class="phone">
                    <input type="tel" value="Telephone">
                    <br>
                    <span class="error">*This is not a valid phone number.</span> <span class="empty">*This field is required.</span> </label>
                </div>
                <div>
                  <label class="email">
                    <input type="email" value="Email">
                    <br>
                    <span class="error">*This is not a valid email address.</span> <span class="empty">*This field is required.</span> </label>
                </div>
                <div>
                  <label class="message">
                    <textarea>Message</textarea>
                    <br>
                    <span class="error">*The message is too short.</span> <span class="empty">*This field is required.</span> </label>
                </div>
                <div class="buttons-wrapper"> <a class="btn btn-1" data-type="reset">Clear</a> <a class="btn btn-1" data-type="submit">Send</a></div>
              </fieldset>
            </form>
          </div>
        </article>
        <article class="span4">
          <h3>Contact info</h3>
          <div class="map">
            <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script><div style="overflow:hidden;height:300px;width:300px;"><div id="gmap_canvas" style="height:300px;width:300px;"></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style><script src="https://www.embed-map.com/google-maps-authorization.js?id=70f1cc0d-4951-0cc1-0b7b-23c325d47d5d" defer="defer" async="async"></script><a class="google-map-code" href="https://www.embed-map.com" id="get-map-data">embed Google Map</a></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(26.5856038,-81.94189619999997),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(26.5856038, -81.94189619999997)});infowindow = new google.maps.InfoWindow({content:"<b>GW Development International, Inc.</b><br/>3571 Delprado Blvd<br>Cape Coral<br>" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, "load", init_map);</script>
          </div>
          <address class="address-1">
          <strong>GW Promotions<br>
          GW Development International, Inc.<br>
          3571 Delprado Blvd., Suite 19<br>
          Cape Coral, Florida 33909</strong>
          <div class="overflow">
            <span>Telephone:</span>+1 800 603 6035<br>
            <span>FAX:</span>+1 800 889 9898 <br>
            <span>E-mail:</span> <a href="#" class="mail-1">mail@initialsmagazine</a><br>
          </address>
        </article>
      </div>
    </div>
  </div>
</div>
