<div class="row centered desc">

<% @latest_articles[0..3].each_with_index do |article, index| %>
      <% if(index%2==0) %>
        </div> <!-- end current row -->
        <div class="row centered desc"> <!--start new row-->
      <%end%>

      <div class="col-xs-6">
        <%= render partial: 'article_thumb', locals: {article: article} %>
      </div>

<% end %><!--@latest_articles[0..3].each_with_index-->

</div> <!--close final display row -->