<div class="row centered desc">
<ul class="portfolio clearfix">

<% @latest_articles.each do |article| %>
         <li class="box"><%= render partial: 'article_thumb', locals: {article: article} %></li>
<% end %>
</ul>

</div> <!--close row centered desc -->