


<div class="bg-content">
  <div id="content">
    <div class="container">
      <div class="row">

        <article class="span8">
          <div class="inner-1">
            <ul class="list-blog">
              <li>
                <h3>Duis autem vel eum iriure dolor</h3>
                <time datetime="2045-11-09" class="date-1">9.11.2045</time>
                <div class="name-author">by <a href="#">Admin</a></div>
                <a href="#" class="comments">11 comments</a>
                <div class="clear"></div>
                <img alt="" src="img/page4-img1.jpg">
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum delenit augue duis dolore te feugait nulla facilisi.</p>
                <a href="#" class="btn btn-1">Read More</a> </li>


              <li>
                <h3>Hendrerit in vulputate velit esse molestie</h3>
                <time datetime="2045-11-08" class="date-1">8.11.2045</time>
                <div class="name-author">by <a href="#">Admin</a></div>
                <a href="#" class="comments">9 comments</a>
                <div class="clear"></div>
                <img alt="" src="img/page4-img2.jpg">
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum delenit augue duis dolore te feugait nulla facilisi.</p>
                <a href="#" class="btn btn-1">Read More</a> </li>
            </ul>
          </div>
        </article>

