<div class="spinner"></div>

<div class="bg-content">
  <div id="content">
    <div class="container">
      <div class="row">

        <article class="span8">
          <div class="inner-1">
            <ul class="list-blog">
              <% @articles.each do |article| %>
              <li>
                <%= render partial: 'articles/article_thumb', locals: {:article => article} %>
                 </li>
                <% end %>
            </ul>
          </div>
        </article>

        <article class="span4">

          <!-- Search bar -->
          <h3 class="extra">Search</h3>
          <form id="search" action="#" method="GET" accept-charset="utf-8">
            <div class="clearfix">
              <input type="text" name="s" onBlur="if(this.value=='') this.value=''" onFocus="if(this.value =='' ) this.value=''">
              <a href="#" onClick="document.getElementById('search').submit()" class="btn btn-1">Search</a> </div>
          </form>
          <!-- end search bar -->

          <!-- latest articles list -->
            <%= render partial: 'layouts/sidebar_list', locals: {:articles => @latest_articles, :title => 'Latest Articles'} %>
          <!-- end latest articles list -->

          <!-- most popular articles -->
            <%= render partial: 'layouts/sidebar_list', locals: {:articles => @popular_articles, :title => 'Most Popular Articles'} %>
            <!-- end most popular articles list -->

        </article>
      </div>
    </div>
  </div>
</div>






