<div class="bg-content">
  <div id="content">
    <div class="container">
      <div class="row"><h1>Latest <%= @category %> News</h1> </div>
      <div class="row">
        <article class="span12">
          <div class="inner-1">
            <ul class="list-blog">
                <% @articles.each do |article| %>
                <li>
                  <%= render partial: 'articles/article_thumb', locals: {:article => article} %>
                </li>
                <% end %>
            </ul>
          </div>
      </article>
    </div>
  </div><!--container-->
</div><!--content-->
</div> <!--bgcontent-->