<!--inline CSS! Bad style, Preston! -->

<footer>
  <div class="container clearfix" style="text-align:center">
    Website created by: <%= link_to "Preston Copeland", "http://www.threemonthcoder.com", :target => "_blank" %><br>Template adapted from: templatemonster.com
  </div>
</footer>