<li><%= link_to 'Inspiration', articles_sort_path(:category => :inspiration) %></li>
<li><%= link_to 'Celebrities', articles_sort_path(:category => :celebrities) %></li>
<li><%= link_to 'Music', articles_sort_path(:category => :music) %></li>
<li><%= link_to 'Sports', articles_sort_path(:category => :sports) %></li>
